/* Must have CSS otherwise shit no work properly and look like shit */
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Root/Fixes.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Root/Base.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Root/Accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Root/Font.css');

/* General Tweaks */
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Transparant_Banner.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Custom_Played_Indicator.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Progress_Bar.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Rounded_Corners.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Colors.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Hidden_Trailers.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/General_Tweaks/Input_Fields.css');

/* Login Screen */
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Login_Screen/Login_Screen.css');

/* Media Specific Tweaks */
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Media_Specific_Tweaks/Better_Cast%26Crew.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Media_Specific_Tweaks/Better_Itempage.css');
@import url('https://cdn.jsdelivr.net/gh/JarneeP/JPCinema-CSS@master/Media_Specific_Tweaks/Compact_Episodes.css');

/* Style backdrop */
.backdropImage {filter: blur(5px) saturate(120%) contrast(120%) brightness(55%);}

/* Accent and roundings */
:root {--accent: 51, 153, 255;}
:root {--rounding: 12px;}